.block_room {
    background-color: #F2F1F0;
    box-sizing: border-box;
    min-height: 800px;
    padding-bottom: 90px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: normal;
}

.content_room {
    width:220px;
    height:250px;
    background:rgb(248, 248, 255);
    top: 250px;
    left: 200px;
    width: 95%;
    background-color: #ffffff;
    border: 1px solid #646464;
    border-radius: 15px;
    display: flex; 
    margin-left: 40px; 
    margin-bottom: 15px; 
}

.price_p {
    color: #2b5b79;
    width: 150px;
    height: 48px;
    font-family: Inter;
    font-size: 30px;
  }
.price_div{
    display: flex;
    align-items: flex-end;
    justify-content: right;
    margin-right: 10px;
    
}

.content_room2 {
    width:220px;
    background:rgb(248, 248, 255);
    top: 250px;
    left: 200px;
    width: 95%;
    background-color: #ffffff;
    border: 1px solid #646464;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-left: 40px; 
    margin-bottom: 15px;
}
.descr_hotel, .main_description {
    margin-left: 20px;
    margin-bottom: 10px;
}

.content_room3 {
    width:220px;
    min-height:300px;
    background:rgb(248, 248, 255);
    top: 250px;
    left: 200px;
    width: 95%;
    background-color: #ffffff;
    border: 1px solid #646464;
    border-radius: 15px;
    margin-left: 40px; 
    display: flex; 
    align-items: flex-start;
    justify-content: left;
    flex-direction: column;
      
}
.credit_room {
    list-style-type: none;  
    margin-bottom: 10px;
}

.img_room {
    position: relative;
    max-width: 300;
    max-height: 200;
    height: 120px;
    border-radius: 15px;
}

.block_of_room {
    display: flex;
    margin-left: 20px;
    align-items: center;
    width: 600px ;

}

.type_room {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bron_buton{
    margin-left: auto;
}