html, body { 
    font-family: 'Arial'; 
    margin: 0; 
    padding: 0; 
    height: 100%; 
    width: 100%; 
    color: #444; 
   } 
     
   .table-content { 
    width: 100%; 
    min-height: 100%; 
    height: 100%; 
   }    
   .left-chapters { 
    margin: 0; 
    background: #eee; 
    border-right: 1px solid #ccc; 
    min-height: 100%; 
   } 
   .left-chapters ul { 
    width: 230px; 
    min-height: 100%; 
    margin: 0; 
    padding: 20px 10px 10px 20px; 
    list-style: none; 
    font-size: 20px; 
   } 
   .left-chapters ul li { 
    margin: 30px 0 0 0; 
    color: #999; 
   } 
   .left-chapters ul li.selected {color: #17282c; }
   .left-chapters ul li a { 
    color: #444; 
    text-decoration: none; 
   } 
   .left-chapters ul li a:hover { color: #CC0000; } 
   .left-chapters ul li.share {margin: 60px 0 0 0;} 
   .left-chapters ul li.share p {margin: 30px 0 30px 0;} 
   .left-chapters ul li.share a { 
    display: inline-block; 
    width: 40px; 
    height: 40px; 
    margin: 0 20px 0 0; 
   } 
   .left-chapters ul li.share a.share-yt { 
    width: 100%; 
    height: 30px; 
    background: url('../images/share_yt.png') no-repeat 0 0 
   } 
   .left-chapters ul li.share a.share-yt:hover { 
    width: 100%; 
    height: 30px; 
    background: url('../images/share_yt.png') no-repeat 0 -30px 
   } 
    
   .content { 
    padding: 40px 20px 20px 40px; 
    width: 100%; 
    box-sizing: border-box; 
   } 

   .name_before {
    position: absolute;
    font-family: 'Arial'; 
    color: #444; 
    padding: 15px; 
   }

   #rectangle_sort{
    width:220px;
    height:96px;
    background:rgb(248, 248, 255);
    top: 250px;
    left: 200px;
    width: 95%;
    background-color: #ffffff;
    border: 1px solid #646464;
    border-radius: 15px;
   }   


   .select_sort {
    position: relative;
    font-family: 'Arial'; 
    color: #444; 
    padding: 5px; 
    border-radius: 10px;
    display: inline-block;
    width: 180px;
    top: 45px;
    left: 13px;
    outline:none;
   }


   #rectangle_price{
    width:220px;
    height:100px;
    background:rgb(248, 248, 255);
    top: 250px;
    left: 200px;
    width: 95%;
    background-color: #ffffff;
    border: 1px solid #646464;
    border-radius: 15px;
   }   

   .lower_price, .higher_price{
    /* родительский блок относительно которого будем формировать положение
    тега label */
    position: relative;
    border-radius: 10px;
    width: 18px;
    top: 45px;
    left: 14px;
    display:inline-block;
    font-family: 'Arial'; 
    color: #444; 
  }

  .lower_price {
    flex-grow: 0;
    margin: 0 0px;
  } 

  .higher_price {
    flex-grow: 1;
    margin-left: 64px;
  }
  .input_lower, .input_higher {
    width: 66px;
    outline:none;
    background: #fff;
    padding: 10px;
    /* закруглим края у поля ввода */
    border-radius: 11px;
    border-color: #444;
  }

  #rectangle_location {
    width:230px;
    height:100px;
    background:rgb(248, 248, 255);
    top: 250px;
    left: 200px;
    width: 95%;
    background-color: #ffffff;
    border: 1px solid #646464;
    border-radius: 15px;
  }

    .input_location{
    position: relative;
    font-family: 'Arial'; 
    color: #2b5b79;
    padding: 5px; 
    border-radius: 10px;
    display: inline-block;
    width: 180px;
    top: 50px;
    left: 13px;
    outline:none;
}

    #rectangle_star {
        width:230px;
        height:170px;
        background:rgb(248, 248, 255);
        top: 250px;
        left: 200px;
        width: 95%;
        background-color: #ffffff;
        border: 1px solid #646464;
        border-radius: 15px;
}
    .checked {
        color: orange;
    }
  
    .star5, .label_star5, .star4, .label_star4, .star3, .label_star3, .star2, .label_star2, .star1, .label_star1 {
        position: relative;
        font-family: 'Arial'; 
        color: #444; 
        padding: 5px; 
        border-radius: 10px;
        top: 45px;
        left: 13px;
        outline:none;
    }

    #rectangle_bed{
        width:220px;
        height:96px;
        background:rgb(248, 248, 255);
        top: 250px;
        left: 200px;
        width: 95%;
        background-color: #ffffff;
        border: 1px solid #646464;
        border-radius: 15px;
    } 

    .label_double_bed, .label_separ_bed, .double_bed, .separ_bed {
        position: relative;
        font-family: 'Arial'; 
        color: #444; 
        padding: 5px; 
        top: 45px;
        left: 13px;
        outline:none;
        font-size: 18px;
    }
    
    .content{
        background-color: #DFDCDA;
    }

    .list_hotels{
        list-style-type:none;
    }
    .list_block {
        margin-bottom: 15px;
    }

    .block_hotel {
        width:220px;
        height:250px;
        background:rgb(248, 248, 255);
        top: 250px;
        left: 200px;
        width: 95%;
        background-color: #ffffff;
        border: 1px solid #646464;
        border-radius: 15px;
        display: flex;  
        
    }
    
    .img_hotel {
        position: relative;
        max-width: 300;
        max-height: 250;
        height: 250px;
        border-radius: 15px;
    }
    
    .content_hotel {
        flex: 1;
        margin-left: 20px;
    }
    
    .name_hotel {
        color: #17282c;
        font-family: Inter;
        
    }
    .address_hotel {
        color: #2b5b79;
        font-family: Inter;
        font-weight:100;
    }

    .choicebutton {
        color: #ffffff;
        background: #2b5b79;
        width: 150px;
        height: 48px;
        border-radius: 10px;
        font-family: Inter;
        font-size: 15px;
      }
    .button_choice {
        display: flex;
        align-items: flex-end;
        justify-content: right;
        margin-right: 10px;
        
    }
    .button_choice1 {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-right: 10px;

    }
 
      

  
    ul.breadcrumbs { 
    margin: 0; 
    padding: 0; 
    list-style: none; 
    font-size: 20px; 
    font-family: Sans-serif, Arial, Tahoma; 
   } 
   ul.breadcrumbs li { 
    display: inline-block; 
   } 
   ul.breadcrumbs li a { 
    color: #2b5b79;
    text-decoration: none; 
   } 
   ul.breadcrumbs li a:hover { color: #CC0000; } 
   ul.breadcrumbs li:after{ 
    padding: 0 10px 0 10px; 
    content: "\2192"; 
   } 
   ul.breadcrumbs li.last:after {content: "";} 



























   
   
   
   
   
   
  