* { 
      margin: 0;

  } 
  html, body { 
    font-family: 'Arial'; 
    margin: 0; 
    padding: 0; 
    height: 100%; 
    width: 100%; 
    color: #444; 
   } 

  .booking_header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .menu {
    flex-grow: 1;
  }
  .menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .menu li {
    margin-right: 20px;
  }
  .menu li:last-child {
    margin-right: 0;
  }
  .menu a {
    padding: 8px 10px;
  }
  .menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    list-style: none;
  }
  .menu a {
    color: #000;
    font-family: 'Arial'; 
    text-decoration: none;
    display: block;
    padding: 8px 10px;
  }
  .logo {
    background: url(booking/images/trip-logo.png) no-repeat 10px 5px;
    width:75px; 
    height: 75px;
    margin: 0;
    margin-right: 30px;
  }

  .image {
    position: relative;
  }
  .main_pic{
    vertical-align:bottom;
  }

  .block {
    position	: absolute;
    top		: 500px;
    left		: 0;
    width		: 100%;
  }
  #rectangle{
      position: absolute;
      width:200px;
      height:150px;
      background:rgb(248, 248, 255);
      top: 250px;
      left: 200px;
      width: 80%;
      background-color: #ffffff;
      border: 6px solid #646464;
      border-radius: 25px;
  }

  .input-destination, .input-check-in, .input-check-out, .button_search{
      /* родительский блок относительно которого будем формировать положение
      тега label */
      position: relative;
    }
    .input-destination {
      flex-grow: 0;
      margin: 0 px;
    } 

    .input-check-in {
      flex-grow: 0;
      margin-left: 5px;
    }
    .input-check-out {
      flex-grow: 1;
      margin: 5px;
    }
    .button_search {
      flex: 0;
      margin-left: 20;
      
    }

    .check-out, .destination, .check-in{
      background: #fff;
      padding: 10px;
      /* закруглим края у поля ввода */
      border-radius: 11px;
      width: 200px;
      border-color: #444;
      
    }
    
    .input_labels{
      position: absolute;
      /* смещение относительно родительского элемента 10px вверх от верхнего края и   10px влево */
      top: -10px;
      left: 10px;
      background: #fff;
      padding: 0 5px;
    }
    .wraped {
      display: flex;
      margin: 0 15px;
      margin-top: 55px;
    }
    .searchbutton {
      color: #e2e3e1;
      background: #2b5b79;
      width: 150px;
      height: 48px;
      border-radius: 10px;
      font-family: Inter;
      font-size: 15px;
    }
    header.blog-footer nav { 
      height: 75px; 
      margin: 0 auto; 
      background-color: #ffffff; 
  }

fa-star:before{content:"\f005"}.fa-star-o:before{content:"\f006"}
fa-star-half:before{content:"\f089"}.fa-star-half-empty:before,.fa-star-half-full:before,
.fa-star-half-o:before{content:"\f123"}.
fa-star:before{content:"\f005"}.fa-star-o:before{content:"\f006"}.
