<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="css/styles.css">
    <link type="text/css" rel="stylesheet" href="css/styles_hotel.css">
    <link type="text/css" rel="stylesheet" href="css/login.css">
    <link type="text/css" rel="stylesheet" href="css/room.css">
    <link type="text/css" rel="stylesheet" href="css/footer.css">

   </head>
<header class="booking_header">
    <div class="logo">
        <a class='link_main' href="index.html" >
            <img src="images/trip-logo.png" alt="иконка" width="75" height="75" align="left">
        </a>
    </div>
    <div class="menu">
        <ul>
            <li><a href="hotel.html">Каталог</a></li>
        </ul>
    </div>
    <div class="log_but">


            <a href="login.html" >
                <button class="login">
                    <img src="images/chel.png" alt="" style="vertical-align:middle" width="25" height="25">
                    Войти
                </button>
            </a>

    </div>
  </header>
<body>

    <p>Please login to see this page.</p>


<form method="post" action="{% url 'login' %}">
<table>

    <input name="destination" class="destination" placeholder="Username"> <br>
    <input name="destination" class="destination" placeholder="Password">

</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
<br><br><br><br><br><br>


       
</body>
<footer class="footer">
     <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>Наши контакты</h4>
          <ul>
            <li><a href="#">+7 (433) 56-72</a></li>
            <li><a href="#">travel.agency@mail.ru</a></li>
            <li><a href="#">Москва, улица Пчелка 28с1</a></li>
          </ul>
        </div> <br>

        <div class="footer-col">
          <h4>Социальные сети</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>

        </div>
      </div>
     </div>
  </footer>
</html>